@{
    ViewData["Title"] = "Admin prihlásenie";
}

<h2>Admin Panel - Prihlásenie</h2>

@if (ViewBag.Error != null)
{
    <p style="color: red;"><strong>@ViewBag.Error</strong></p>
}

<form method="post" asp-action="Login">
    <p>
        <label for="password">Heslo:</label><br />
     <input type="password" name="password" id="password" required />
    </p>
    <p>
        <button type="submit">Vstúpiť do Admin panelu</button>
    </p>
</form>

<p><a href="/">? Späť na domov</a></p>
