@{
    ViewData["Title"] = "Super Stránkoš";
}

<div class="text-center" id="boxpozadie">
    <h1 class="display-4" id="klickcounter">Clicks: </h1>
    <button id="cardbuttoncolor">Klig me</button>
</div>
