@{
    ViewData["Title"] = "Super Stránkoš";
}

<div class="text-center" id="boxpozadie">
    <textarea id="cardtextarea"></textarea>
    <h2 class="display-4">Správa (min 20 znakov)</h2>
    <p id="znakcounter"> Počet znakov: 0</p>
</div>
