@{
    ViewData["Title"] = "Super Stránkoš";
}

<div class="text-center">
    <div class="person-card">
        <img src="/imgs/graphic-3863008_1280.png" alt="ma-face   " id="my-image" />
        <h1 id="my-name">Lukáš Liščák</h1>
        <p id="my-position">FullStack Developer</p>
        <a class="btn-primary">Späť</a>
    </div>
</div>
