@model UserDTO

<div class="user-card">
    <img src="/imgs/graphic-3863008_1280.png" alt="Alternate Text" />
    <div>
        <h1>
            @Model.Name @Model.Surname
        </h1>

        <p>
            @Model.Email
        </p>
    </div>
</div>