@model Common.DTO.LoginDTO
@{
  ViewData["Title"] = "Prihlßsenie";
}

<h2>Prihlßsenie</h2>

<form asp-action="Login" method="post">
    <p>
        <label for="Email">Email:</label><br />
  <input type="email" asp-for="Email" required />
   </p>
    <p>
        <label for="Password">Heslo:</label><br />
        <input type="password" asp-for="Password" required />
    </p>
    <p>
        <button type="submit">PrihlßsiØ sa</button>
    </p>
</form>

<p>Nemßte ·×et? <a asp-action="Register">Zaregistrujte sa</a></p>
