@model Common.DTO.RegisterDTO
@{
    ViewData["Title"] = "Registrßcia";
}

<h2>Registrßcia</h2>

<form asp-action="Register" method="post">
   <p>
  <label for="Name">Meno:</label><br />
  <input type="text" asp-for="Name" required />
    </p>
    <p>
        <label for="Email">Email:</label><br />
   <input type="email" asp-for="Email" required />
   </p>
 <p>
     <label for="Password">Heslo:</label><br />
 <input type="password" asp-for="Password" required />
    </p>
    <p>
   <button type="submit">VytvoriØ ·Þet</button>
  </p>
</form>

<p>U× mßte ·Þet? <a asp-action="Login">Prihlßste sa</a></p>
